div {
    padding: 15px;
    background-color: tomato;
    color: white;
    font-size: 1.5rem;
    display: inline-block;
    
}
html {
    height: 100%;
}
body {
    display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
gap: 50px;
height: 100%;
margin: 30px;

transition: transform 1s ease-in-out;
}
div:nth-child(1) {
    animation-name: skewX;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite;
}
div:nth-child(2){

}
div:nth-child(3) {
    
}
div:nth-child(4) {
    
}
div:nth-child(5):hover {
    transform: translateY(-30px);
}
div:nth-child(7):hover {
    transform: translate(30px);
}
div:nth-child(7):hover {
    transform: rotateX(30px);
}
div:nth-child(8):hover {
    transform: rotateY(30px);
}
div:nth-child(9):hover {
    transform: Y(-30px);
}
div:nth-child(10):hover {
    transform: (-30px);
}
@keyframes skewX {
    0% {
transform: skewX(0deg);
    }
    50% {
        transform: skewX(40deg);
    }
    100% {
        transform: skewX(0deg);
    }
}










